<a class="item" href="https://docs.{{AppDomain}}">Documentation</a>
<a class="item" href="/Codeberg/Community/issues">Codeberg Issues</a>
<a class="item" href="https://blog.{{AppDomain}}">Blog</a>
<a class="item" href="https://join.{{AppDomain}}">Join Codeberg e.V.</a>
<a class="item" href="https://liberapay.com/codeberg/donate">Donate</a>

