:root {
    --gitea-color-scheme-1: #2185d0;
    --gitea-text-color: #FFF;
}

/// NAVBAR

// Change the background color
.following.bar.light {
    background-color: var(--gitea-color-scheme-1);
}

// Change the text color of menu items
.ui.menu .item {
    color: var(--gitea-text-color);
}

// Change the text color of active menu items
.ui.secondary.menu .active.item {
    color: var(--gitea-text-color);
}
.join-links a {
	background: #db2828; border-radius: 100px; color: #fff; padding: 5px 15px; text-decoration: none; margin-left: 15px; cursor: pointer;
}
.following.bar, #navbar { background-color: #2185d0 !important; border-bottom: none !important; }
.following.bar #navbar { padding: 0 5px 0 15px; min-height: auto; }
.following.bar { width: auto !important; }
#navbar .item {
	margin: 0;
	padding: 0.5em;
	font-size: 13px;
	color: #fff;
}
@media only screen and (min-width: 768px) {
	#navbar .item.brand { padding: 0; }
}
#navbar .item.brand img { display: none; }
#navbar .item.brand a { height: 26px; width: 26px; margin-right: 10px; background: url("/img/logo-small.svg") no-repeat center 1px / contain; }
#navbar .ui.red.label, #navbar .ui.red.labels .label { box-shadow: 0 0 1px 1px #c82121; }
/*#navbar .item.brand a { background-image: url("data:image/svg+xml,<svg viewBox='0 0 100 58' xmlns='http://www.w3.org/2000/svg'><path d='M4 60L30 4l24 21 6.3-7.2 34 43' stroke='%232185d0' stroke-width='4' fill='%232a2e3a'/><path d='M26 30l9-10.29 7.43 6.5M40 33l4 3.5 9.8-11.2' stroke='%232185d0' stroke-width='4' fill='none'/><text x='16' y='53' font-family='Lato' font-weight='bold' font-size='14.5' fill='%23107BB5'>codeberg</text></svg>"); }*/
.ui.secondary.menu .active.item { background: rgba(255,255,255,0.1); }
.ui.secondary.menu .dropdown.item:hover, .ui.secondary.menu .link.item:hover, .ui.secondary.menu a.item:hover, .ui.secondary.menu .active.item:hover { background: rgba(255,255,255,0.15); }